#mockupContainer{
  background-color: aqua;
  display: flex;  
}

#mockupImg{
  max-width: 100%;
  margin-bottom: 20px;
}

#myRow h1{
  font-weight: 700;
}




#wrappingPaperForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

#wrappingOptionsContainer{
  display: flex;
  justify-content: space-around;
}

.wrappingPaperOption{
  cursor: pointer;
}

.wrappingPaperOption img{
  border: 5px solid transparent;
  width: 95%;
  height: 95%;
  margin: 4px;
  border-radius: 20px;
  margin-left: 10px;
  object-fit: cover;
}

.wrappingPaperOption.selected img{
  border-color: #D67F12;
  box-shadow: 0px 0px 10px #C1400C;
}


@media (max-width: 1024px){
  #wrappingOptionsContainer{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .wrappingPaperOption img{
    background-color: brown;
    border: 5px solid transparent;
    max-width: 95%;
    margin: 4px;
    border-radius: 20px;
    margin-left: 10px;
  }
  
}